In [1]:
import pandas as pd
print(pd.__version__)

1.3.1

In [2]:
print(pd.Series([1, 7, 12], index=["x", "y", "z"]))

x     1
y     7
z    12
dtype: int64

In [3]:
data = {"calories": [100, 230, 420], "duration": [50, 10, 30]}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       100        50
1       230        10
2       420        30

In [5]:
print(df.head())
print(df.tail())

   calories  duration
0       100        50
1       230        10
2       420        30
   calories  duration
0       100        50
1       230        10
2       420        30

In [13]:
df[1:3]

   calories  duration
1       230        10
2       420        30

In [14]:
df.columns

Index(['calories', 'duration'], dtype='object')

In [15]:
df.calories

0    100
1    230
2    420
Name: calories, dtype: int64

In [19]:
df[["duration", "calories"]]

   duration  calories
0        50       100
1        10       230
2        30       420

In [20]:
df.duration.sum(), df.calories.max()

(50, 750)

In [25]:
df[df.duration >= 30]["calories"]

0    100
2    420
Name: calories, dtype: int64

In [31]:
print(df.add({"duration":5, 'calories':11}))

   calories  duration
0       131        65
1       261        25
2       451        45

In [42]:
print(df.append({"calories":5,"duration":1}, ignore_index=True))

   calories  duration
0       120        60
1       250        20
2       440        40
3         5         1